<% if job %>
  <div class='btn btn-primary btn-rounded'>
    <% cleaner = job.cleaner %>
    <%# Link to chat with the cleaner - Maybe better on show page%>
    <%= simple_form_for(cleaner, url: chatrooms_path, method: :post) do |form| %>
      <%= form.hidden_field :user_id, value: cleaner.id %>
      <%= form.hidden_field :job_id, value: job.id %>
      <%= form.button :submit, "Chat with #{cleaner.first_name}" %>
    <% end %>
  </div>
<% end %>
