<%# Get link to chat with manager %>
<div class='btn btn-primary btn-rounded'>
  <%= simple_form_for(job.user, url: chatrooms_path, method: :post) do |form| %>

    <%= form.hidden_field :user_id, value: job.user.id %>
    <%= form.hidden_field :job_id, value: job.id %>
    <%= form.button :submit, "Chat with #{job.user.first_name}" %>
  <% end %>
</div>
