<% if job %>
  <% selected_job = job.job_applications.where(status: ["applied","accepted", "completed"]).first %>
  <% if selected_job %>
  <div class='btn btn-primary btn-rounded'>
    <% cleaner = selected_job.user %>
    <%# Link to chat with the cleaner - Maybe better on show page%>
    <%= simple_form_for(cleaner, url: chatrooms_path, method: :post) do |form| %>
      <%= form.hidden_field :user_id, value: cleaner.id %>
      <%= form.hidden_field :job_id, value: job.id %>
      <%= form.button :submit, cleaner.first_name %>
    <% end %>
  </div>
  <% end %>
<% end %>
