 <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <!-- Profile Photo -->
                <img src="https://ca.slack-edge.com/T02NE0241-U05H2NBRFFY-2422604e0f19-512" alt="Profile Photo" class="img-fluid rounded-circle">
            </div>
            <div class="col-md-8">
                <!-- Profile Information -->
                <h1><%= @user.first_name %></h1>
                <p>Years Hosting: 3 Years</p>
                <p>Email: <%= @user.email %></p>
                <p>Rating: 5 Stars</p>
                <p>Reviews: 3 review</p>
                <p>Location: Rio de Janeiro</p>
                <p>Information Confirmed:information_confirmed ? 'Yes' : 'No'</p>
                <!-- About Profile Section -->
                <h2>About Me</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae justo eu elit bibendum consectetur.</p>
                <!-- Edit Profile Button -->
                <a href="#" class="btn btn-primary">Edit Profile</a>
            </div>
        </div>
    </div>
