<<div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <!-- Profile Picture -->
                <img src="https://ca.slack-edge.com/T02NE0241-U05H2NBRFFY-2422604e0f19-512" alt="Your Profile Picture" class="img-fluid rounded-circle">
            </div>
            <div class="col-md-8">
                <!-- Profile Information -->
                <h1>Your Name</h1>
                <p>Email: your@email.com</p>
                <p>Location: Your Location</p>
                <p>About Me: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
