<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide" src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
    </div>
  </div>
</div>

<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img class="img-home-slide-reverse" src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
    </div>
  </div>
</div>

<%# <div class="carousel">
  <ul class="slides">
    <li>https://f7e5m2b4.rocketcdn.me/wp-content/uploads/2015/12/New-York-Style-Apartment-in-Ipanema-Automated-and-Controlled-Via-Ipad-1.jpg.webp</li>
    <li>https://toursgonewild.com/wp-content/uploads/2021/02/2-Bedroom-Ipanema-Apartment-9-5.jpg</li>
    <li>https://www.dezeen.com/2019/10/05/studio-arthur-casas-perches-rs-apartment-above-rio-de-janeiros-ipanema-beachfront/</li>
    <li>https://www.hotels-riodejaneiro.net/data/Pics/OriginalPhoto/13472/1347293/1347293633/pic-rio-de-janeiro-1.JPEG</li>
    <!-- Add more slides as needed -->
  </ul>
</div> %>
