<div class="container" data-controller="date-filter">
  <div class="d-flex justify-content-around align-items-center mt-4">
    <button class="btn btn-primary btn-1 chat-text-filters" data-action="date-filter#previous">Previous</button>
    <h1 data-date-filter-target="month"><%= Date.today.strftime("%B") %></h1>
    <button class="btn btn-primary btn-1 chat-text-filters" data-action="date-filter#next">Next</button>
  </div>

  <div class="d-flex flex-column align-items-center mb-3">
    <small class="mt-3">Filter for more specific dates</small>
    <div>
      <label for="from_date">From:</label>
      <input type="date" id="from_date" name="from_date" data-date-filter-target="from">
      <label for="until_date">Until:</label>
      <input type="date" id="until_date" name="until_date" data-date-filter-target="until">
      <button class="btn btn-with-black-border rounded btn-primary btn-1" id="filter_button" data-action="click->date-filter#filterJobs">Filter</button>
    </div>
  </div>


  <%# Ben,i dont know but its not working
  R$ dont appear and the job count continues to appear besides total job of the period %>
  <div data-date-filter-target="jobsGrid">
    <%= render partial: 'jobs_completed', locals: { jobs: @jobs, total_price: @total_price } %>
  </div>
</div>
