// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";



.job-listing {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: left;
}

.job-listing img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.job-listing h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.job-listing p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.job-listing .job-info {
  padding: 16px;
}

.date-created {
  text-align: right;

}

.custom-image-width {
  width: 700px; /* Adjust the width value as needed */
}

.custom-container-height {
  min-height: 100px; /* Adjust the height value as needed */
}

.job-listing .user-icon {
  width: 40px;
  border-radius: 50%; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
/* Make it circular */ /* Add margin for spacing */
}

.current-status {
  color: green; /* Adjust the width value as needed */
}
